body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fdebee;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

div {
  display: block;
  padding: 1%;
}
h2 {
  display: block;
  margin: 0 0 0.28571429rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}
.search {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);

  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  overflow: hidden;
}
.main {
  padding-left: 10%;
  padding-top: 0%;
}
.root {
  color: rgba(0, 0, 0, 0.87);
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
}

input {
  width: 98%;
  padding: 10px;
  border: 2px solid lightgray;
  outline: none;
}
input:hover {
  border-color: lightblue;
}
.wrap {
  overflow: hidden;
  margin: 10px;
  margin-bottom: 0%;
  margin-left: 10%;
}
.box {
  float: left;
  position: relative;
  width: 30%;
}
.box-inner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.box-inner img {
  width: 100%;
}
.box-inner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #fff;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 480px) {
  /* Smartphone view: 1 tile */
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}
@media only screen and (max-width: 650px) and (min-width: 481px) {
  /* Tablet view: 2 tiles */
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width: 1050px) and (min-width: 651px) {
  /* Small desktop / ipad view: 3 tiles */
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media only screen and (max-width: 1290px) and (min-width: 1051px) {
  /* Medium desktop: 4 tiles */
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}
#img-root {
  overflow: hidden;
  margin: 8px;
  padding-right: 13%;
  margin-left: -4%;
}
#img-root img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
}
